@CHARSET "utf-8";
/* CSS Document */
body{
		 background-image: url("../imgs/bg.jpg");
		background-repeat: no-repeat;

}

h2 {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}


fieldset {
	background: #DCDCDC;
	margin-right:35%;
	margin-left:auto;
	width: 500px;
	height: 100px;
	margin-top:10%;
	
}

legend {
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	width: 50%;
	padding-left: 15px;
	color: #ffffff;
	background: #C0C0C0;
	border: 1px solid #696969;
}

label {
	margin-top : 1%;
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	width: 180px;
	margin-left:30%;
	margin-right: 700%;
	background: #DCDCDC;
}

label, input {
	float: none;
	display: block;
}

input[type="submit"] {
	width: 100px;
	height: 25px;
	color: #008000;
	margin-left:40%;
	margin-right: 60%;
	font-size: 12px;
	font-weight: bold;
	background: #FFFAFA;
}

#img{
	margin-top: -10%;
	margin-left: 70%;
	margin-right: 30%;
}

#borda{
	margin-top: -10%;
	margin-right: -50;
}



